<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>
    <link rel="stylesheet" href="styles/worker.css">
</head>
<body>
    <div class="container">

        <nav class="nav">
            <ul class="nav-items">
                <li class="nav-item">
                    <div id="open-modal-btn"><span class="white-text">My Information</span></div>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="redirectToSignIn()">Sign Out</a>
                </li>
            </ul>
        </nav>

        <div class="welcome-title">
            <h1 th:text="${user.getFirstName() + ' tasks'}" >Worker's tasks</h1>
        </div>

        <div class="todo-card-center">
            <div class="todo-card">
                <h1>To Do</h1>
                <div class="input-field">

                  <textarea placeholder="Enter your new todo"></textarea>
                </div>

                
                <div class="filter-options">
                  <button onclick="filterTasks('all')">All Tasks</button>
                  <button onclick="filterTasks('completed')">Completed Tasks</button>
                  <button onclick="filterTasks('uncompleted')">Uncompleted Tasks</button>
                </div>
          
                <ul class="todoLists">
                    <li th:each="task : ${tasks}"  th:text="${task.getTaskContent()}"></li>
                </ul>
          
                <div class="pending-tasks">
                  <span>You have <span class="pending-num"> no </span> tasks pending.</span>
                </div>
            </div>
        </div>
        
    </div>
    <script src="scripts/worker.js"></script>
</body>
</html>